@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kelly+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #183954;
}
.main h1 {
  position: absolute;
  font-size: 96px;
  font-family: "Fjalla One", sans-serif;
}
.main h1:nth-child(1) {
  color: #fff;
  text-shadow: -2px 2px 0px #183954, -4px 4px 0px #183954, -6px 6px 0px #183954,
    -8px 8px 0px #183954, -12px 12px 50px rgba(0, 0, 0, 0.5);
}
.main h1:nth-child(2) {
  color: #17466d;
  animation: animate 3s ease-in-out infinite;
}
.main h1:nth-child(3) {
  opacity: 0.5;
  color: #2196f3;
  animation: animate 5s ease-in-out infinite;
}

.main h1:nth-child(4) {
  opacity: 1;
  color: #2196f3;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0 53%,
      26% 67%,
      44% 73%,
      55% 73%,
      67% 69%,
      77% 63%,
      89% 54%,
      100% 41%,
      100% 99%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 77%,
      16% 79%,
      31% 80%,
      44% 80%,
      61% 75%,
      74% 66%,
      84% 58%,
      100% 52%,
      100% 99%,
      0% 100%
    );
  }
}
